<body class="nav-body">
  <main>
    {{!-- <header>
      <h1>THIS IS M TEST NAVBAR</h1>
    </header>
     --}}
    <nav class="nav">
  <ul>
    <li class="{{#if isHome}}active{{/if}}">
      <a href="/">Home</a>
    </li>

    <li class="{{#if isAbout}}active{{/if}}">
      <a href="/about">About</a>
    </li>

    <li class="{{#if isLogin}}active{{/if}}">
      <a href="/login">Login</a>
    </li>

    <li class="{{#if isRegister}}active{{/if}}">
      <a href="/register">Register</a>
    </li>
  </ul>
</nav>
  </main>
  {{!-- <script src="./script.js"></script> --}}

</body>