<body class="nav-body">
  <main>
    <nav class="nav">
  <ul>

        <li class="{{#if isHome}}active{{/if}}">
          <a href="/">Home</a>
        </li>

        <li class="{{#if isAbout}}active{{/if}}">
          <a href="/about">About</a>
        </li>

        <li class="{{#if isProject}}active{{/if}}">
          <a href="/project">Project</a>
        </li>
        
        <li class="{{#if isContact}}active{{/if}}">
          <a href="/contact">Contact</a>
        </li>

  </ul>
</nav>
  </main>
</body>