@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,#e2e2e2, #c9d6ff);
}
main {
    flex: 1;
}

/* .register-body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right,#e2e2e2, #c9d6ff);
    color: #333; 
} */

.login-body,.register-body {
    background: linear-gradient(to right,#e2e2e2,#c9d6ff);
}

.login-page,.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

.login-container ,.register-container {
    margin: 0 15px;
}

.toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.form-box {
    width: 100%;
    max-width: 550px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 34px;
    text-align: center;
    margin: 20px;
}

input,.form-control {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #6884d3;
}

p {
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
    color: #7494ec;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

 /* Footer */
        footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 15px;
            margin-top: 30px;
            
        }

        /* Responsive adjustments */
        @media (max-width: 600px) {
            header h1 {
                font-size: 20px;
            }

            nav a {
                font-size: 14px;
                margin-left: 10px;
            }

            .hero h2 {
                font-size: 28px;
            }
        }