@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right,#e2e2e2, #c9d6ff);
}
main {
    flex: 1;
}

.login-body,.register-body {
    background: linear-gradient(to right,#e2e2e2,#c9d6ff);
}

.contact-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 80px);
}

.login-container ,.register-container {
    margin: 0 15px;
}

.toast-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.form-box {
    width: 100%;
    max-width: 550px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,h2 {
    font-size: 34px;
    text-align: center;
    margin: 20px;
}

input,.form-control {
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover {
    background: #6884d3;
}

p{
    font-size: 14.5px;
    text-align: center;
    margin-bottom: 10px;
}

p a {
    color: #7494ec;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}


/* about */
.text-container{
   padding: 20px;
   margin: 10px;
}
/* about */

/* dashbord */
.dashbord-container {
}
/* dashbord */


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 30px; 
}

.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* padding: 20px; */
}

.contact-body {
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  line-height: 1.8;
  /* padding: 3rem; */
  color: #070707;
  /* background: fixed linear-gradient(transparent, #fff 90%),
    fixed
      repeating-linear-gradient(
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      ),
    fixed
      repeating-linear-gradient(
        to right,
        #efefef,
        #efefef 1px,
        transparent 1px,
        transparent 40px
      )
      white; */
}

.socialMedia{
    margin-top: 50px;
}

.social {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  gap: 1rem;
  list-style: none;
}

.social li {
  position: relative;
  flex-basis: 4.5rem;
}

.social li::after {
  position: absolute;
  /* content: "Tooltip"; */
  content: attr(data-tooltip);
  inset: -45% auto auto 50%;
  z-index: -1;
  translate: -50%;
  padding: 0.25rem 0.75rem;
  font-size: 0.875rem;
  color: #fff;
  /* background: #070707; */
  background: var(--bg, #070707);
  border-radius: 0.25rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  /* transition: all 0.3s ease-in-out; */
  transition: inset 0.4s cubic-bezier(0.47, 2, 0.41, 1.5),
    visibility 0.3s ease-in-out, opacity 0.2s ease-in-out;
}

.social li:has(a:hover, a:focus-visible)::after {
  opacity: 1;
  visibility: visible;
  inset-block-start: -60%;
}

.social a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  font-size: 1.75rem;
  color: #070707;
  border: 1px solid;
  border-radius: 100%;
  text-decoration: none;
  outline: none;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.social a > i {
  position: relative;
  z-index: 1;
}

.social a::after {
  position: absolute;
  content: "";
  inset: 100% 0 0;
  /* background: #070707; */
  background: var(--bg, #070707);
  pointer-events: none;
  transition: inset 0.3s ease-in-out;
}

.social a:hover,
.social a:focus-visible {
  color: #fff;
}

.social a:hover::after,
.social a:focus-visible::after {
  inset-block-start: 0;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 20px;
    }

    nav a {
        font-size: 14px;
        margin-left: 10px;
    }

    .hero h2 {
        font-size: 28px;
    }
}